{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "preval",
    "macros",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}